/* layout */
body{
    background-image: url('../img/hatter.png');
    background-size: cover;
}
.nav-bg{
    background-color: rgb(175, 97, 7);
}
.logo{
    height: 50px;
    width: 50px;
}

/* adatok */
.adatok{
    margin-top: 0px;
}
.kep{
    border: 1px solid black;
    padding: 40px;
  }
.card{
    width: 220px;
    margin: 10px;
}
.szurofeltetel{
    background-color: gray;
    opacity: 0.9;
}

/* main page */
.carousel {
    margin-bottom: -8px;
}
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}
.carousel-item {
    height: 100vh;
}
.bg1{
    background-image: url("..//img/layout/slide1.png");
    background-size: cover;
    background-position: center center;

}
.bg2{
    background-image: url("..//img/layout/slide2.png");
    background-size: cover;
    background-position: center center;

}
.bg3{
    background-image: url("..//img/layout/slide3.png");
    background-size: cover;
    background-position: center center;

}
hr{
    border: 10px solid black;
    opacity: 1;
    margin: 0px;
}